/* styles.css */


@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;  
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #201c1c;
    color: beige;
    /* height: 100vh; */
}
header {
    display: flex;
    justify-content: center;
    /* position:relative; */
}
.logo {
    transform: scale(0.104);
    position: absolute;
    top: -16.9rem;
    left: -28rem;
}
.navbar {
    margin-top: 1rem;
    /* background-color: rgb(104, 95, 97); */
    text-align: center;
    width: 65vw;
    height: 3rem;
    border-radius: 5rem;
    position:relative; 
}
.navbar h1 {
    font-family: 'Dancing Script', cursive;
    margin-top: 0.1em;
    display: inline-block;
    color: rgb(244, 236, 214);
    font-weight: 700;
    /* font-size: 1.8rem; */
}
/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    --r: .8em; /* control the ribbon shape */
    
    padding-inline: calc(var(--r) + .3em);
    line-height: 1.8;
    clip-path: polygon(0 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,0 100%, var(--r) 50%);
    background: rgb(104, 95, 97); /* the main color */
    width: 60vw;
}
@media screen and (max-width: 440px) {
    header {
        transform: scale(0.8);
    }
}
.intro {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2rem;
}
@media screen and (max-width: 937px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .main-img {
        /* width: 11.35rem; */
        height: 21rem;
        bottom: 0.6rem;
    }

}
.image {
    /* background-color: pink; */
    background-image: url("Picture2.png");
    background-size: cover;
    height: 20rem;
    width: 19em;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* transition: 0.5s;
    transition-delay: 0.5s; */
}
/* .image:hover {
    transform: scale(1.1);
} */
.main-img {
    transform: scale(0.91);
    position: relative;
    right: 1px;
    /* background-color: white; */
}
.hello {
    /* background-color: red; */
    /* margin-left: 9%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#greeting {
    margin-left: 2%;
    font-size: 2rem;
    font-family: 'Protest Revolution', sans-serif;
    position: relative;
    top: 1.6rem;
}
.name {
    font-size: 7em;
    font-family: 'Protest Riot', sans-serif;
    color: #A7CAB1;
}
#clgName {
    font-family: 'Montserrat', sans-serif;
}
.hello p span {
    color: rgb(240, 168, 104); 
    font-weight: 600;
}
.contact {
    display: flex;
    justify-content: space-between;
}
.icons {
    /* background-color: aqua; */
    width: 8rem;
    margin-left: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons i {
    font-size: 1.5rem;
    transition: 0.5s;
}
.icons i:hover {
    color: rgb(240, 168, 104);
    transform: scale(1.1);
}
a {
    text-decoration: none;
    color: beige;
}
.mail-button {
    padding: 0.5rem;
    border-radius: 15px;
    transition: 0.4s;
    background-color: beige;
    color: #201c1c;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}
.mail-button:hover {
    background-color: rgb(240, 168, 104);
    transform: translatey(-3px);
}
.main {
    position: relative;
    top: 4rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.edu {
    /* position: relative;
    top: 4rem;
    left: 10rem; */
    width: 20rem;
    /* margin-bottom: 2rem; */
    /* background-color: aqua; */
    display: flex;
}
.edu-content {
    font-size: 1.1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #4DCCBD;
}
.edu-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 168, 104);
    color: #201c1c;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 1.4rem;
    height: 5.4rem;
    width: 18rem;
    border-radius: 0.7em;
    position: absolute;
    transition: 1s;
    transition-delay: 0.5s;
}
.edu-slider i {
    position: relative;
    right: 0.7em;
}
.edu-content p {
    list-style: none;
    margin-bottom: 0.5rem;
}
@media screen and (min-width: 500px) {
    .edu:hover .edu-slider {
        transform: translate(18rem);
    }
}
.container {
    /* border: 2px solid black; */
    width: 20rem;
    height:13rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 168, 104);
    color: #201c1c;    
    font-family: 'Protest Revolution', sans-serif;
    font-size: 2rem;
    border-radius: 0.7em;
    transition: 0.6s;
}
.container i {
    position: relative;
    right: 0.7em;
}
.container:hover {
    transform: scale(1.04);
    /* color: #d91bbf;
    color: #4DCCBD;
    color: #477998;
    color: #1C7293; */
    /* color: beige; */
    /* color: #7F6A93; */
    color: #CA2E55;
}

.container:active {
    transform: scale(1);
}

footer {
    bottom: 0rem;
    height: 1.7rem;
    /* margin-top: 6rem; */
    position: relative;
    top: 4rem;
    background-color: rgb(104, 95, 97);
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 33.33%;
    height: 33.33%;
    background-color: red;
}
#heart {
    /* background-color: white; */
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 5%;
    animation: rotate 0.5s linear 0.5s infinite alternate ;
}

@keyframes rotate {
    from {
        scale: 1;
    }
    to { 
        scale: 1.22;
    }
}
#bottom{
    transform: rotate(45deg);
    position: absolute;
    left: 29.5%;
    bottom: 32.6%;
    border-radius: 2%;
}
#circle1 {
    border-radius: 49%;
    position: absolute;
    left: 15.5%;
    top: 20%;
    
}
#circle2 {
    border-radius: 49%;
    position: absolute;
    left: 43.5%;
    top: 20%;
}
@media screen and (max-width: 500px) {
    .logo {
        left: -25.5rem;
    }
    .intro {
        flex-direction: column;
        align-items: center;
    }
    .image {
        transform: scale(0.9);
    }
    .main-img {
        width: 11.35rem;
        height: 21rem;
        bottom: 0.6rem;
    }
    #greeting {
        font-size: 1em;
        top: 0.6rem;
    }
    .name {
        font-size: 4em;
    }
    #clgName {
        font-size: 0.8rem;
    }
    .contact {
        transform: scale(0.8);
    }
    .main {
        justify-content: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        top: 1rem;
    }
    .edu {
        left: 4vw;
        transform: scale(0.9);
    }
    .edu-slider:hover {
        transform: translate(18rem);
    }
    .container {
        display: none;
    }
    #heart {
        height: 1.7rem;
        width: 1.7rem;
    }
    footer {
        font-size: 1rem;
    }
}
